tensorflow
tensorflow-gpu
tensorboard
numpy
opencv-python
pandas
imblearn
inputs
ipykernel
black
decorator
jupyter
keras
matplotlib
mypy-extensions
Pillow
pycodestyle
pynput
scikit-image
scikit-learn
seaborn
toml
tqdm